body {
	padding-bottom: 1.5rem;
}

.titulo-editor {
	font-size: 3rem;
}

.workspace {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.titulo-workspace {
	font-size: 2.6rem;
}

.elemento-workspace {
	padding: 1rem;
	border: 2px solid var(--paleta-3);
	border-radius: 1rem;
	height: 88vh;
}

.titulo-workspace-borde {
	border-bottom: 0.2rem solid var(--paleta-3);
	padding-bottom: 1.5rem;
}

.vistas {
	flex: 0 0 calc(25% - 2rem);
	overflow: hidden;
}

.btn-crear-vista {
	display: block;
	width: 100%;
	margin: 1rem 0;
}

.elementos-vistas {
	margin-top: 2rem;
	padding: 1.5rem 0 0;
	border-top: 2px solid var(--paleta-3);
	max-height: 72vh;
	overflow-y: auto;
}

.elementos-vistas::-webkit-scrollbar {
	display: none;
}

.vista {
	width: 100%;
	overflow-wrap: break-word;
	border: 2px solid var(--paleta-1);
	border-radius: 1rem;
	color: var(--paleta-1);
	padding: 0.75rem 1rem;
	margin: 1rem 0;
	font-size: 1.8rem;
	transition-property: color, border-color, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.vista:last-of-type {
	margin-bottom: 3rem;
}

.vista:hover {
	color: var(--paleta-3);
	border-color: var(--paleta-2);
	background-color: var(--paleta-2);
}

.vista:hover > .btn-view-delete {
	opacity: 1;
}

.vista > span {
	width: 90%;
	cursor: pointer;
}

.vista-seleccionada {
	border-color: var(--paleta-2);
}

.btn-view-delete {
	color: #ff0000;
	background-color: unset;
	border: none;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	cursor: pointer;
}

.arbol {
	flex: 0 0 calc(30% - 2rem);
}

.estructura-arbol {
	height: 85%;
	position: relative;
}

.agregar-item {
	position: absolute;
	background-color: var(--paleta-3);
	opacity: 90%;
	height: 95%;
	width: 100%;
	z-index: 2;
	top: 0;
}

.agregar-item-hide {
	display: none;
}

.elementos {
	flex: 0 0 calc(45% - 2rem);
}

.categoria .elementos-categoria {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 1rem;
	column-gap: 0.7rem;
}

.elemento-dom {
	padding: 1rem 1.5rem;
	border: 1px solid var(--paleta-2);
	border-radius: 0.5rem;
	color: var(--paleta-1);
	font-size: 1.8rem;
	cursor: move;
}
