<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/rootStyles.css" />
		<link rel="stylesheet" href="styles.css" />
		<script
			src="https://kit.fontawesome.com/3093a813aa.js"
			crossorigin="anonymous"
		></script>
		<script src="../../controller/modelosController.js"></script>
	</head>
	<body>
		<h1 class="titulo titulo-modelos">
			<i class="fas fa-database"></i> Modelos
		</h1>
		<div class="contenedor">
			<div class="align-right">
				<button class="btn btn-crear" id="btnCrearModelo">
					<i class="fas fa-plus-circle"></i> Crear modelo
				</button>
			</div>
			<div class="modelos" id="modelos"></div>
		</div>
	</body>
</html>
