<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/rootStyles.css" />
		<link rel="stylesheet" href="styles.css" />
		<script
			src="https://kit.fontawesome.com/3093a813aa.js"
			crossorigin="anonymous"
		></script>
		<script src="../../controller/modulesController.js"></script>
	</head>
	<body>
		<h1 class="titulo titulo-modulos">
			<i class="far fa-folder-open"></i> Módulos
		</h1>
		<div class="contenedor">
			<div class="align-right">
				<button class="btn btn-crear" id="btnCrearModulo">
					<i class="fas fa-folder-plus"></i> Crear módulo
				</button>
			</div>
			<div id="modulos" class="modulos"></div>
		</div>
	</body>
</html>
