@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
	--paleta-1: #eeeeee;
	--paleta-2: #32e0c4;
	--paleta-3: #393e46;
	--paleta-4: #222831;
}

html {
	font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
	box-sizing: border-box;
}

img {
	height: 100%;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: var(--paleta-4);
	color: var(--paleta-1);
	font-family: 'Open Sans', sans-serif;
}

input:focus {
	outline: none;
}

.contenedor {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

div.align-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

div.align-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.btn {
	padding: 1rem 2rem;
	font-size: 2rem;
	text-decoration: none;
	color: var(--paleta-1);
}

.btn-crear {
	color: var(--paleta-2);
	background-color: var(--paleta-4);
	border: 2px solid var(--paleta-2);
	border-radius: 10px;
	transition: background-color 0.2s ease-in;
}

.btn-control-edit,
.btn-control-delete,
.btn-control-export {
	padding: 1.2rem;
	border: 2px solid;
	border-radius: 10px;
	color: var(--paleta-1);
	background-color: var(--paleta-4);
	margin: 0.5rem;
	transition: background-color 0.3s ease-in;
}

.btn-control-edit {
	border-color: var(--paleta-2);
}

.btn-control-edit:hover {
	background-color: var(--paleta-2);
}

.btn-control-delete {
	border-color: #ff0000;
}

.btn-control-delete:hover {
	background-color: #ff0000;
}

.btn-control-export {
	border-color: #4dabf7;
}

.btn-control-export:hover {
	background-color: #4dabf7;
}

.btn-crear:hover {
	background-color: var(--paleta-3);
}

.iconos {
	color: var(--paleta-1);
}

.titulo {
	width: 100%;
	overflow-wrap: break-word;
	padding: 1rem 1.5rem;
	text-align: center;
}

.swal2-title {
	color: var(--paleta-1) !important;
}

.swal2-popup,
.swal2-content {
	font-size: 2rem !important;
	color: var(--paleta-1) !important;
}

.sin-elementos {
	padding: 2rem 2.5rem;
	border: 2px solid var(--paleta-3);
	border-radius: 15px;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--paleta-3);
	user-select: none;
}

.sin-borde {
	border: none;
}
